@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300&display=swap');

/* Base Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(187, 198, 230);
  background-color: rgb(31, 78, 119);
}

label {
  color: rgb(54, 143, 165);
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;

}

form {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
  color: darkseagreen;
}

button {
  font-size: 30px;
  color: #c9c3e0;
}

p {
  width: 100%;
  color:bisque
}